<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <mat-vertical-stepper>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="info">
      <mat-icon>password</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="user">
      <mat-icon>person</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="contact">
      <mat-icon>home</mat-icon>
    </ng-template>

    <mat-step state='user' [stepControl]="signUpForm.controls['firstName']">
      <ng-template matStepLabel>Personal Information</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step state='info' [stepControl]="signUpForm.controls['username']">
      <ng-template matStepLabel>Account Information</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>

      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step state='contact' [stepControl]="signUpForm.controls['email']">
      <ng-template matStepLabel>Contact Information</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button type="submit">Sign Up</button>
    </mat-step>
  </mat-vertical-stepper>
</form>

